<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <style>
        /* Ajoutez des styles personnalisés ici si nécessaire */
        body {
            padding-top: 56px; /* Ajustez en fonction de la hauteur de la barre de navigation */
        }

        .center-image {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Ajustez en fonction de la hauteur souhaitée */
        }
    </style>
</head>
<body>

<!-- Barre de navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/transfer">Transfer</a></li>
                <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
                <li class="nav-item"><a class="nav-link" href="contacts.html">Contacts</a></li>
                <li class="nav-item">
                    <form class="nav-link" th:action="@{/logout}" method="post">
                        <input type="submit" class="btn btn-link" value="Log Off"/>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Image au milieu de la page -->
<div class="center-image">
    <img src="/images/paymybuddy.png" alt="PayMyBuddy" class="img-fluid">
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
