<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<!-- Menu horizontal -->
<nav>
    <ul>
        <li><a href="/login">Home</a></li>
        <li><a href="/transfer">Transfer</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="contacts.html">Contacts</a></li>
        <li>
            <!-- Ajout du bouton de déconnexion -->
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Log Off"/>
            </form>
        </li>
    </ul>
</nav>

<!-- Informations du profil -->
<div>
    <h2>User Profile</h2>

    <!-- Afficher les messages d'erreur ou de succès -->
    <div th:if="${param.error}">
        <p style="color: red;">Erreur : ${param.error}</p>
    </div>
    <div th:if="${param.success}">
        <p style="color: green;">Succès : ${param.success}</p>
    </div>

    <!-- Afficher les informations de l'utilisateur -->
    <p>First Name: <span th:text="${user.firstName}"></span></p>
    <p>Last Name: <span th:text="${user.lastName}"></span></p>
    <p>Email: <span th:text="${user.email}"></span></p>
    <p>Balance: <span th:text="${user.balance}"></span></p>
    <p th:if="${userBankAccounts != null}">Nombre de comptes bancaires : <span th:text="${userBankAccounts.size()}"></span></p>
    <p th:unless="${userBankAccounts != null}">La liste des comptes bancaires est null</p>

    <!-- Formulaire pour ajouter un compte bancaire -->
    <form th:action="@{/addbankaccount}" method="post">
        <label for="iban">IBAN:</label>
        <input type="text" id="iban" name="iban" th:required="true">

        <label for="bankName">Bank Name:</label>
        <input type="text" id="bankName" name="bankName" th:required="true">

        <button type="submit">Add Bank Account</button>
    </form>

    <!-- Afficher les messages d'erreur ou de succès pour l'ajout de compte bancaire -->
    <div th:if="${param.error}">
        <p style="color: red;">Erreur : ${param.error}</p>
    </div>
    <div th:if="${param.success}">
        <p style="color: green;">Succès : ${param.success}</p>
    </div>
</div>

<!-- Formulaire pour mettre à jour le profil -->
<div>
    <h2>Mettre à jour le profil</h2>

    <!-- Afficher les messages d'erreur ou de succès pour la mise à jour du profil -->
    <div th:if="${param.error}">
        <p style="color: red;">Erreur : ${param.error}</p>
    </div>
    <div th:if="${param.success}">
        <p style="color: green;">Succès : ${param.success}</p>
    </div>

    <!-- Formulaire pour mettre à jour le profil -->
    <form th:action="@{/updateprofile}" method="post" th:object="${user}">
        <label for="firstName">Prénom :</label>
        <input type="text" id="firstName" name="firstName" th:value="${user.firstName}" th:required="true">

        <label for="lastName">Nom :</label>
        <input type="text" id="lastName" name="lastName" th:value="${user.lastName}" th:required="true">

        <button type="submit">Mettre à jour le profil</button>
    </form>
</div>

<!-- Formulaire pour effectuer une transaction -->
<div>
    <h2>Transaction</h2>

    <!-- Afficher les messages d'erreur ou de succès -->
    <div th:if="${param.error}">
        <p style="color: red;">Erreur : ${param.error}</p>
    </div>
    <div th:if="${param.success}">
        <p style="color: green;">Succès : ${param.success}</p>
    </div>

    <!-- Formulaire pour effectuer une transaction -->
    <form th:action="@{/transactionbank}" method="post" th:object="${bankTransaction}">
        <label for="bankAccount">Choisissez le compte bancaire :</label>
        <select id="bankAccount" name="bankAccount" th:required="true">
            <option th:each="account : ${userBankAccounts}" th:value="${account.id}" th:text="${account.bankName + ' - ' + account.iban}"></option>
        </select>

        <label for="amountbank">Montant :</label>
        <input type="text" id="amountbank" name="amountbank" th:field="*{amountbank}" th:required="true">

        <label for="credit">Crédit :</label>
        <input type="checkbox" id="credit" name="credit" th:field="*{credit}">

        <button type="submit">Effectuer la transaction</button>
    </form>
</div>

</body>
</html>
